{
    "printWidth": 100,
    "tabWidth": 4,
    "endOfLine": "auto",
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "useTabs": false,

    "plugins": ["prettier-plugin-multiline-arrays"],

    "overrides": [
        {
            "files": "*color-theme*.json",
            "options": {
                "parser": "json",
                "multilineArraysWrapThreshold": -1
            }
        },
        {
            "files": [
                "*.yml",
                "*.yaml"
            ],
            "options": {
                "tabWidth": 2,
                "parser": "yaml"
            }
        },
        {
            "files": "*.md",
            "options": {
                "printWidth": 200,
                "tabWidth": 2
            }
        },
        {
            "files": [".prettierrc"],
            "options": {
                "parser": "json"
            }
        }
    ]
}
